<!-- 
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> -->

<!-- INICIO Error 404 -->
<section id="error" class="error404-hero">
  <div class="container container-error">
  <p class="error-title">Sorry,<br> </p>
  <p class="error-p"> we can't find the page you're looking for. 
  <a class="btn btn-thanks" href="/"> BACK HOME</a></p>
  </div>
</section>

<!--  FIN Error 404 -->


