<!-- START MAIN -->
<main>

  <!-- START MY WORK -->
  <section id="myWork-marketing-agency">

    <div class="container container-mywork">
      <p>Here are a few of the things I've been working on lately. </p>
    </div>
    
    <div class="container">
      <h2 class="title-myWork">MARKETING AGENCY</h2>
      <div class="work-list">

        <div class="work-my">
          <img src="../images/portfolio-marketing-agency-a.png"
            alt="image-home-section-marketing-agency-website"/>
          <div class="layer capa">
            <h1>HOME SECTION</h1>
          </div>
        </div>

        <div class="work-my">
          <img src="../images/portfolio-marketing-agency-b.png"
            alt="image-services-section-marketing-agency-website"/>
          <div class="layer capa">
            <h1>SERVICES SECTION</h1>
          </div>
        </div>

        <div class="work-my">
          <img src="../images/portfolio-marketing-agency-c.png"
            alt="image-lets-start-section-marketing-agency-website"/>
          <div class="layer capa">
            <h1>LET'S START SECTION</h1>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section id="myWork">
    <div class="container">

      <h2 class="title-myWork">CRAFT BREWERY</h2>

      <div class="work-list">

        <div class="work-my">
          <img src="../images/portfolio-craft-brewery-a.png"
            alt="image-header-craft-brewery-website"/>
          <div class="layer capa">
            <h2>HEADER CAROUSEL</h2>
          </div>
        </div>

        <div class="work-my">
          <img src="../images/portfolio-craft-brewery-b.png"
            alt="image-products-craft-brewery-website"/>
          <div class="layer capa">
            <h2>PRODUCTS - HISTORY</h2>
          </div>
        </div>

        <div class="work-my">
          <img src="../images/portfolio-craft-brewery-c.png"
            alt="image-services-craft-brewery-website"/>
          <div class="layer capa">
            <h2>SERVICES - CONTACT</h2>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section id="myWork-aesthetic-center">
    <div class="container">

      <h2 class="title-myWork">AESTHETIC CENTER</h2>

      <div class="work-list">

        <div class="work-my">
          <img src="../images/portfolio-center-a.png"
            alt="image-beer-rosario-website"/>
          <div class="layer capa">
            <h1>HOME SECTION</h1>
          </div>
        </div>

        <div class="work-my">
          <img src="../images/portfolio-center-b.png"
            alt="image-beer-rosario-website"/>
          <div class="layer capa">
            <h1>SERVICES SECTION</h1>
          </div>
        </div>

        <div class="work-my">
          <img src="../images/portfolio-center-c.png"
            alt="image-beer-rosario-website"/>
          <div class="layer capa">
            <h1>CONTACT SECTION</h1>
          </div>
        </div>

      </div>
    </div>
    
  </section>
  <!-- END MY WORK -->


</main>
<!-- END MAIN -->