<!-- INICIO Gracias --> 
<section id="thanks" class="thanks-hero">
  <div class="container container-thanks">
  <p class="thanks-p">I received your message, thanks for writing. <br> 
  I'll get in touch as soon as possible. </p>
  <p class="thanks-a"><a class="btn btn-thanks" href="/"> BACK HOME</a></p>
  </div>
</section>
<!-- FIN Gracias -->