<!-- INICIO Gracias --> 
<div class="container-fluid"> 
  <div id="thanks" class="row align-items-center thanks">
    <div class="col-lg-5 offset-lg-4 pb-0">      
      <p>We've recived your message<br> 
         Le invitamos a continuar conociéndonos...
        <a class="btn btn-success btn-sm" href="/">BACK HOME </a></p>
        <br><br><br><br><br><br>
    </div>
  </div>
</div> 
<!-- FIN Gracias -->