:root {
  --first-color: rgb(236, 38, 143);
  --first-alpha-color: rgb(236, 38, 143, 0.75);
  --second-color: rgb(0, 0, 0) ;
  --text-color: rgb(212, 212, 212);

  /* Colores de fondo*/
  --bg-color: rgb(241, 237, 237);
  --bg-alpha-color: rgb(241, 237, 237, 0.75);
  --bg-color-2:  rgb(245, 245, 245);
  --gb-alpha-color-2:  rgb(245, 245, 245, 0.75);

  /* Otros colores*/
  --yellow-color: rgb(240, 240, 106);
  --dark-color: rgb(51, 49, 49);
  --white-color: rgb(255,255,255);
  --grayDark-color: rgb(128,128,128);
  --grayDark-alpha-color: rgb(128,128,128, 0.75);
  --grayLigth-color: rgb(219, 214, 214); 
  --grayLigth-alpha-color: rgb(219, 214, 214 0.75);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

/* ---------- HEADER  ---------- */

a {
  color: var(--white-color);
  transition: all .3s ease-out;
}

a:hover {
  color: var(--first-color);
}

body {
  background: var(--second-color);
  color: var(--white-color);
  font: 14px;
  font-family: "Raleway", sans-serif; 
  color:var(--text-color);
  font-size: 14px;
}

.container {
  padding: 12px 10%;
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
  min-height: 400px;
  background-image: url(../images/background-1.png); 
  background-size: cover;
  background-position: center;
}

.header-text {
  color: var(--text-color);
  margin-top: 20%;
}

.header-text .span-m {
  font-size: 100px;
  line-height: 90px;
  margin-left: -5px;
  color: var(--first-color);
  font-family: 'Audiowide';
}

.header-text .span-arina {
  font-size: 100px;
  line-height: 90px;
  margin-left: -4px;
  /*color: #ec268f;*/
  font-family: 'Audiowide';
  color: transparent;
  -webkit-text-stroke: 0.001px var(--white-color);
  background: url(../images/back-logo-1.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
@keyframes back {
  100%{
    background-position: 2000px 0;
  }
}

.header-text p {
  font-size: 40px;
  font-weight: 600;
  font-family: "Raleway";
  color: var(--white-color);
}

.header-text h4 {
  font-size: 25px;
  font-weight: 500;
  line-height: 45px;
  font-family: "Raleway";
  color: var(--white-color);
}

.logo {
  width: 160px;
  cursor: pointer;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul {
  flex: 1;
  text-align: right;
  padding-right: 5px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 5px;
}

nav ul li a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 17px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--first-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4px;
  transition: width 0.5s ease-out;
}

nav ul li a:hover::after {
  width: 60%;
  color: var(--first-color);
}

.social-icons {
  position: absolute;
  right: 5%;
  bottom: 8%;
}

.social-icons img { 
  width: 25px;
  display: block;
  margin: 25px 5px;
}

.social-icons img:hover {
  color: var(--first-color);
}

/* ---------- ABOUT  ---------- */

#about {
  padding: 50px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*color: #ababab;*/
  color: var(--text-color);
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 80%;
  border-radius: 15px;
  transition: transform 0.5s;
}

.about-col-1:hover img {
  transform: scale(1.1);
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title-about {
  font-size: 35px;
  font-weight: 300;
  line-height: 35px;
  font-family: "Raleway";
  color: var(--white-color);
}

.tab-titles {
  display: flex;
  margin: 20px 0 20px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links:hover {
  color: var(--first-color);
}

.tab-links::after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--first-color);
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: 0.5s ease-out;
} 

.tab-links.active-link::after {
  width: 100%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;  
}

.tab-contents ul li span {
  color: var(--first-color);
  font-size: 14px; 
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* ---------- SERVICES  ---------- */

#services {
  padding: 50px 0;
}

.sub-title-services {
  font-size: 35px;
  font-weight: 300;
  line-height: 55px;
  font-family: "Raleway";
  color: var(--white-color);
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 30px;
  font-family: "Raleway";
}

.services-list div {
  font-family: "Raleway";
  background: var(--grayDark-color);
  padding: 30px;
  border-radius: 15px;
  transition: background 0.75s, transform 0.75s;
  color: var(--white-color);
}

.services-list div:hover {
  background: var(--first-color);
  transform: translateY(-20px);
}

.services-list div img {
  margin-bottom: 10px;
  width: 30%;
}

.services-list div h3 {
  font-family: "Raleway";
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 15px;
}

.services-list div p {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
}

.button-black {
  background-color: var(--second-color);
  border-color: var(--second-color);
  display: inline-block;
  font-family: "Raleway";
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 20px;
  line-height: 1.5;
  border-radius: 10px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-decoration: none;
}

.button-black:hover {
  color: #000000;
  background-color: #fff;
  border-color: #fff;
  transition: color .15s ease-in-out;
  font-weight: 600;
}

/* ---------- PORTFOLIO  ---------- */

#portfolio {
  padding: 50px 0;
}

.sub-title-portfolio {
  font-size: 35px;
  font-weight: 300;
  line-height: 55px;
  font-family: "Raleway";
  color: var(--white-color);
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 20px;
  font-family: "Raleway";
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0; /* No visible la capa rosada */
  background: linear-gradient(rgb(0, 0, 0 , 0.1), var(--first-color));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  /*Datos para la capa transparente. Para bajar las letras ubicamos el display: */
  display: flex;
  align-items: center;
  align-content: flex-end;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer H3 {
  margin-top: 180px;
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 22px;
}

.layer a {
  margin-top: 30px;
}

.work:hover img {
  transform: scale(1.2);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50% auto;
  width: fit-content;
  border: 1px solid var(--first-color);
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: var(--white-color);
  transition: background 0.5s;
}

.btn:hover {
  background: var(--first-color);
}

.button-white {
  color: #000000;
  background-color: var(--white-color);
  border-color: var(--white-color);
  display: inline-block;
  font-family: "Raleway";
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 8px 14px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 10px;
  text-decoration: none;
  /*transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; */
  transition: background 0.75s, transform 0.75s;
}

.button-white:hover {
  color: var(--white-color);
  background-color: var(--second-color);
  border-color: var(--second-color);
  transition: color .15s ease-in-out;
  font-weight: 600;
  transform: translateY(-7px);
}


/* ---------- CONTACT  ---------- */







/* ---------- MEDIA QUERY  ---------- */

/* Las "media query" son característica de CSS. Permite crear e
   implementar diseños que se adaptan a las propiedades del dispositivo que estás usando. */
   
/* X-Small devices (portrait phones, less than 576px)
   No media query for `xs` since this is the default in Bootstrap */

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
   .nav-item:hover {
    background-color: transparent;
   }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up)  */
@media (min-width: 1400px) {

}